<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>NECTAR: roles and responsibilities</title>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="stylesheets/styles.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
	<div id="content">
		{{ content }}
		{% include footer.html %}
	</div>
	</body>
</html>